/* Fade Animation For The Silder Starts  */

.sliderContainer img {
     animation: fadeImg 1s ease-out;
}

@keyframes fadeImg {
     from {
          opacity: 0;
     }

     to {
          opacity: 1;
     }
}

/* Fade Animation For The Silder Ends  */